{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>

* {
    box-sizing: border-box;
}
body {
  background-image: url(http://nevseoboi.com.ua/uploads/posts/2011-04/1302683801_nature_forest_lewis_river_falls_019223__nevseoboi..jpg);

}

/* Add styles to the form container */
.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}


/* Set a style for the submit button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

</style>
</head>
<body>

<div class="bg-img">
  <form method="post">
    <div class="container">
      <h1>Login</h1>

  {% csrf_token %}
  {{ form.as_p }}

      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
{% endblock %}