{% extends 'base.html' %}
{% load static %}

{% block title_page %}
    <title>{{ product.name }}</title>
{% endblock title_page %}
<style>
.col-1-2 {
width: 50%;
float: left;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант  */
  background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
}

/* Модальное содержание */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Кнопка закрытия */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>


{% block content %}
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col">
                <section class="main-section" id="service">
                    <div class="container">
                        <h2>{{ product.name }}</h2>
                    </div>
                </section>
                <a href=""><img src="{{ product.image.url }}" alt=""></a>

            </div>
            <div class="col">
                <h3><strong>Price:</strong>{{ product.price }} $</h3>
                <h3><strong>Detail:</strong></h3>
                <p>{{ product.description }}</p>
                {% if product.available %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill"/>
                        </svg>
                        <div>
                            Available
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        <div>
                            Not Available
                        </div>
                    </div>
                    </div>
                {% endif %}
            <div class="review">
<span class="font-weight-bold text-gray">
Average rating: {{ product.get_average_review_score }}/5.0
</span>
                <div class="mb-4">
                    <form action="{%  url 'basket:basket_add' product.id %}" method="post">
                        {% csrf_token %}
<span class="input-group add-to-basket shadow-custom">
<div class="input-group-prepend">
</div>
{{ basket_product_form.quantity }}
<div class="input-group-append">
<button class="btn btn-success px-4 "
        type="submit" data-toggle="tooltip"
        data-placement="top" title="Add to cart">
<i class="fas fa-shopping-cart"></i>
</button>
</div>
</span>
                    </form>
                </div>
                <div class="mb-3 font-weight-bold">

                </div>
            </div>
            <button type="button" class="btn btn-outline-success" id="myBtn">Write Review</button>

<div id="myModal" class="modal">

  <!-- Модальное содержание -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form method="post">
                    {% csrf_token %}

                    <div class="modal-body">
                        <div class="bg-grey">
                            <div class="text-center pt-2">
                                Rating:
                                <div id="full-stars" class="d-inline text-center">
                                    <div class="rating-group">
                                        <label class="rating__label" for="id_rating_0">
                                            <i class="rating__icon rating_icon--star fa fa-star">
                                            </i>
                                        </label>
                                        <input class="rating__input" name="rating"
                                                id="id_rating_0" value="1" type="radio" required>
                                        <label class="rating__label" for="id_rating_1">
                                            <i class="rating__icon rating_icon--star fa fa-star">
                                            </i>
                                        </label>
                                        <input class="rating__input" name="rating"
                                                id="id_rating_1" value="2" type="radio" required>
                                        <label class="rating__label" for="id_rating_2">
                                            <i class="rating__icon rating_icon--star fa fa-star">
                                            </i>
                                        </label>
                                        <input class="rating__input" name="rating"
                                                id="id_rating_2" value="3" type="radio" required>
                                        <label class="rating__label" for="id_rating_3">
                                            <i class="rating__icon rating_icon--star fa fa-star">
                                            </i>
                                        </label>
                                        <input class="rating__input" name="rating"
                                                id="id_rating_3" value="4" type="radio" required>
                                        <label class="rating__label" for="id_rating_4">
                                            <i class="rating__icon rating_icon--star fa fa-star">
                                            </i>
                                        </label>

                                        <input class="rating__input" name="rating" checked
                                                id="id_rating_4" value="5" type="radio" required>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0">
                            <div class="input-field text-center">
{{ review_form.text }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Confirm</button>
                    </div>
                </form>
  </div>


</div>

            </div>
        </div>
    </div>
    </div>


    </form>
    </div>

    </div>
    </div>
    </div>
    <hr class="col-7 mx-auto">
    <div class="card shadow-custom border-0 col-lg-8 mx-auto mb-3">
        <h3 class="py-2 text-gray">Reviews:</h3>
        {% for review in product.reviews.all %}
            <span class="font-weight-bold py-2 text-grey">
{{ review.author }} - {{ review.rating }}/5 - {{ review.created }}
</span>
            <span class="text-justify pb-2">
{{ review.text }}
</span>
            <hr>
        {% empty %}
            <span class="pb-2">Currently no reviews</span>
        {% endfor %}
    </div>
    <script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock content %}


