{% extends 'base.html' %}

{% block content %}
    <style>


body {
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(http://nevseoboi.com.ua/uploads/posts/2011-04/1302683869_nature_other_blueberry_bushes_026566__nevseoboi.co.jpg);

}

/* Поплавок четыре колонки бок о бок */
.column {
  float: left;
  width: 25%;
    height: 100%;
  padding: 0 10px;
}

/* Удалите лишние левые и правые поля, из-за заполнения */
.row {margin: 0 -5px;}

/* Очистить поплавки после столбцов */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Отзывчивые столбцы */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Стиль контейнера карточек */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
    height: 100%;
}
</style>
</head>
<body>
<div class="container-xxl">
<div class="bg-img">
<div class="row">
    {% for product in products %}
  <div class="column">
    <div class="card">
      <img src="{{ product.image.url }}" class="card-img-top" alt="...">
      <p>{{ product.name }}</p>
      <a href="{{ product.get_absolute_urls }}" class="btn btn-primary">Details</a>
    </div>
  </div>
    {% endfor %}
    </div>
  </div>
</div>

</body>
{% endblock %}

