{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>

* {
    box-sizing: border-box;
}
body {
  background-image: url(http://wp.widewallpapers.ru/2k/nature/mountains/1440x900/mountains-1440x900-009.jpg);

}

/* Add styles to the form container */
.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}


/* Set a style for the submit button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

</style>
</head>
<body>

<div class="bg-img">
  <form method="post">
    <div class="container">
{% if user.is_authenticated %}
    <h1><strong>Lets start!!!</strong></h1>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <a href="{% url 'selection:product_list' %}" class="btn btn-primary btn-lg">
                        Our animals=)
                    </a>
  <a href="{% url 'logout' %}" class="btn btn-primary btn-lg">
                        Logout
                    </a>
</div>

{% else %}
  <h1><strong>Hi, we will help you choose your little friend.</strong></h1>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <a href="{% url 'login' %}" class="btn btn-success">
                        login
                    </a>
  <a href="{% url 'signup' %}" class="btn btn-danger">
                        signup
                    </a>
</div>

{% endif %}
        </div>
  </form>
</div>
{% endblock %}