{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <style>
body {
    font-family: Arial, Helvetica, sans-serif;
background-image: url(http://wp.widewallpapers.ru/2k/nature/winter/1440x900/winter-wallpaper-1440x900-039.jpg);
}
* {box-sizing: border-box}

/* Поля ввода полной ширины */
input[type=email], input[type=password] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Установите стиль для всех кнопок */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Поплавок отмена и кнопки регистрации и добавить равную ширину */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Добавление отступов к элементам контейнера */
.container {
  padding: 16px;
}

/* Снимите поплавки */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Измените стили для кнопки отмены и кнопки регистрации на дополнительных маленьких экранах */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
</style>
<body>

<form method="post">
  <div class="container">
    <h1>Enter</h1>
    <p>
Please fill out the form</p>
    <hr>
      {% csrf_token %}

    {{ form.as_p }}

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>


    <div class="clearfix">
      <button type="button" class="cancelbtn">Back</button>
      <button type="submit" class="signupbtn">Sign up</button>
    </div>
  </div>
</form>


{% endblock %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>