{% extends 'base.html' %}

{% block title %} Your order №{{ order.id }} created {% endblock %}
{% block content %}
    <style>
        body {
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(http://wp.widewallpapers.ru/2k/cats-and-dogs/1440x900/cat-and-dog-1440x900-012.jpg);

}</style>

    <div class="card text-center">
  <div class="card-header">
    Thank You
  </div>
  <div class="card-body">
    <h5 class="card-title">Order № <atrong>{{ order.id }}</atrong></h5>
    <p class="card-text">Thank you for your purchase. In case of any questions, contact us!</p>
      <a href="{% url 'selection:product_list' %}" class="btn btn-success shadow-custom col">
                        Back
                    </a>
  </div>
</div>

{% endblock content %}